body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

    background-color: #f9f9f9;

}



.container {

    width: 90%;

    max-width: 500px;

    margin: 0 auto;

    padding: 20px;

    background: #fff;

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}



h1 {

    font-size: 24px;

    color: #333;

    text-align: center;

}



.divider {

    border: none;

    border-top: 2px solid #eee;

    margin: 15px 0;

}



.product-opened label {

    font-size: 16px;

    color: #555;

    display: block;

    margin-bottom: 5px;

}



.product-opened input {

    width: 100%;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 5px;

    font-size: 14px;

}



/* Section des services */

.service-section h2 {

    font-size: 20px;

    margin-bottom: 10px;

    color: #333;

}



.service-buttons {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;

    justify-content: center;

}



.button-container {

    flex: 1 1 calc(50% - 10px);

    max-width: 45%;

}



.button {

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 10px;

    border: 2px solid #ccc;

    border-radius: 20px;

    font-size: 14px;

    cursor: pointer;

    text-align: center;

    transition: all 0.3s;

    color: #333;

}



.button input {

    display: none;

}



.button:hover,

.button input:checked + label {

    background: linear-gradient(to right, #007bff, #1e90ff);

    color: #fff;

    border-color: transparent;

}



/* Bouton Prochaine étape */

.next-step-button {

    display: block;

    width: 80%;

    max-width: 400px;

    margin: 20px auto;

    padding: 15px;

    font-size: 18px;

    font-weight: bold;

    text-align: center;

    color: white;

    background: linear-gradient(to right, #007bff, #1e90ff);

    border: none;

    border-radius: 30px;

    cursor: pointer;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: background 0.3s ease, transform 0.2s ease;

}



.next-step-button:hover {

    background: linear-gradient(to right, #0056b3, #1c7cd6);

    transform: translateY(-2px);

}



.next-step-button:active {

    transform: translateY(1px);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}